.searchTags{
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ece8e8;
    padding: 5px;
}
.selectListTags{

}

.tag{
    text-align: center;
    list-style: none;
    padding: 5px;
    width: 100%;
}
.tag:hover{
    background-color: #eae1e1;
}
.addTag{
 background-color: rgb(108, 15, 131);
 color: #fff;
 border-radius: 5px;
 padding: 5px;
 max-width: 120px;
}