.container_videoClip{
    width: 400px;
    height: 400px;
    display: flex;
}
.blockClip{
    width: 400px;
    padding: 20px 5px;
    height: 400px;
    position: relative;
    border-radius:10px ;
    background-color: rgb(12, 12, 12);
}