
  .note {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 5px;
  background: white;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  transition: all 0.2s ease;
}
 
  
  .noteTitle {
    margin: 0 0 10px 0;
    
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
  }
  
  .noteDesc {
    margin: 0;
    font-size: 0.95rem;
    line-height: 1.5;
    color: #666;
  }
  .FullNoteInformation {
   text-decoration: underline;
  }
  .FullNoteInformation:hover{
   color: #1821d7;
  }

  .container_btn{
    display: flex;
  }
  
  .trash_icon {
    transition: transform 0.2s, stroke 0.2s;
    cursor: pointer;
  }
  
  .trash_icon:hover {
    stroke: #ff0000;
    transform: scale(1.1);
  }


.note:hover {
  border-color: #bdbdbd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.note.selected {
  border-color: #4CAF50;
  background-color: #f8f9fa;
}

.checkbox {
  margin-right: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox svg {
  transition: all 0.2s ease;
}



.content {
  flex: 1;
  min-width: 0;
}

.title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.options {
  margin-left: 8px;
  z-index: 1;
}
/* Дополнение к существующим стилям */
.completed-note {
  opacity: 0.8;
}

.completed-note:hover {
  opacity: 1;
  box-shadow: none;
  cursor: default;
}

.noteDesc {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.5;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}