.btn_sound{
    padding: 5px;
    border-radius:50% ;
    width: 54px;
    height: 54px;
    background-color: #ede7e7;
    display: block;
    border: none;
}
.dinamic_volume{
width: 40px;
height: 120px;
background-color: #e8e7e7;
border-radius: 20px;
padding: 10px 0;
margin: 0 auto;
}
.lineDinamic{
    position: relative;
    height: 100%;
    width: 8px;
    border-radius: 10px;
    background: linear-gradient(#b5b3b3 50px, rgb(48, 48, 180) 50px);
    margin: 0 auto;
}
.circle{
    width: 12px;
    background-color: rgb(48, 48, 180);
    position: absolute;
    top: -5px;
    left: -2px;
    height: 12px;
    border-radius: 50%;
}